<footer class="bg-primary footer">
    <address>
        <abbr title="Phone">P:</abbr> 6473812703
    </address>
    <address>
        <strong>Email</strong><br>
        <a href="mailto:#">b380298403@gmail.com</a>
    </address>
    <address>
        <strong>Github</strong><br>
        <a href="https://github.com/BPanda13">BPanda13</a>
    </address>
    <p>Code licensed MIT</p>
</footer>