<div class="jumbotron">
    <h3><%= title %></h3>
    <div class="flex-content">
        <img class="project-image" src="images/<%= img %>.png" />
        <div>
            <p><strong>Role:</strong><%= role %></p>
            <p><strong>Description:</strong><%= desc %></p>
        </div>
    </div>
</div>